/* colors
orange: #F98917 
blue/green: #5FCDD5
*/

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: "Roboto Mono", monospace;
  background-color: #0994a5;
  color: #05394e;
}
.page {
  max-width: 50em;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: auto;
  gap: 1.5rem;
}

header,
footer {
  background: #ccc;
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  background-color: #e9e4dc;
  color: #05394e;
  box-shadow: 3px 0px 5.9px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 4px 4px;
  padding: 1rem 0;
}

.img-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.title-subtitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;

  font-style: normal;
}
.header div {
  display: flex;
}

.header img {
  margin-top: 20px;
}
h1 {
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
  font-size: 42px;
  color: #05394e;
}

h3 {
  font-family: "Inria Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #095b76;

  @media (max-width: 800px) {
    display: none;
  }
}

nav {
  display: flex;
  padding-top: 1rem;
  justify-content: center;
}

nav ul {
  list-style: none;
  gap: 3rem;
  display: flex;

  font-weight: 600;
}
nav ul li:hover {
  color: #be6914cc;
  cursor: pointer;
}

hr {
  margin-top: 1.5rem;
  border-top: 1px solid #f98917;
  width: 100%;
}

.footer {
  box-shadow: 3px 0px 5.9px rgba(0, 0, 0, 0.25);
  border-radius: 4px 4px 0 0;
  padding: 2rem;
  font-size: 12px;

  background-color: #e9e4dc;
}
.content {
  display: flex;
  flex: 1;
  background-color: #e9e4dc;
  padding: 3rem;
  gap: 3rem;

  border-radius: 4px;
  box-shadow: 3px 0px 5.9px rgba(0, 0, 0, 0.25);

  @media (max-width: 800px) {
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }
}

.content-text {
  text-align: justify;
  line-height: 1.5;
}

.button-container {
  height: fit-content;
}
.release-button {
  background-color: #f98917;
  color: #fff;
  font-size: 1.5rem;
  border: 0;

  width: 220px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
}

.release-button a {
  text-decoration: none;
  color: #fff;
}

.release-button:hover {
  background-color: #d18d48;
}
.button-icon {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-size: 2.5rem;
  gap: 10px;
}

.arrow-down {
  width: 44px;
  height: 44px;
}

.protocol {
  display: flex;

  display: flex;
  justify-content: center;
  justify-content: center;
}
